# Project exclude paths
/coupon-calculation-serv/coupon-calculation-api/target/
/coupon-calculation-serv/coupon-calculation-impl/target/
/coupon-customer-serv/coupon-customer-api/target/
/coupon-customer-serv/coupon-customer-dao/target/
/coupon-customer-serv/coupon-customer-impl/target/
/coupon-template-serv/coupon-template-api/target/
/coupon-template-serv/coupon-template-dao/target/
/coupon-template-serv/coupon-template-impl/target/

#Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

#Mobile Tools for Java(J2ME)
.mtj.tmp/

#Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs,see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

logs/
.idea/
*.iml
target/
*.DS_Store
*.dubbo/
.dubbo/
http:/